h1{

    color:blueviolet;
    
}
p{
    color:crimson;
    font-weight: bolder;
}

h2{
    color:chocolate;
}

.box{
    background-color:burlywood;
    border-radius: 10px;
    box-shadow: 5px 40px 40px grey;
    padding: 10px;
    margin:15px;
    
}